<h2 mat-dialog-title>{{edit? "Edit" : "New"}} Task</h2>

<form [formGroup]="form">
    <div>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Title</mat-label>
            <input matInput formControlName="title">
        </mat-form-field>
    </div>

    <div>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Content</mat-label>
            <textarea matInput formControlName="content" rows="3"></textarea>
        </mat-form-field>
    </div>

    <div>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Color</mat-label>
            <input matInput formControlName="color">
        </mat-form-field>
    </div>
    
    <div class="action-buttons">
        <button mat-raised-button mat-dialog-close color="warn" type="button">Cancel</button>
        <button mat-raised-button color="primary" (click)="submit()">Save</button>
    </div>
</form>