<h2 mat-dialog-title>{{action | translate}} {{'app.header.todo-list-form' | translate}}</h2>

<form [formGroup]="form">
    <div>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>{{'app.fields.title' | translate }}</mat-label>
            <input matInput formControlName="title">
        </mat-form-field>
    </div>

    <div>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>{{'app.fields.content' | translate }}</mat-label>
            <textarea matInput formControlName="content" rows="3"></textarea>
        </mat-form-field>
    </div>

    <div>
        <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>{{'app.fields.color' | translate }}</mat-label>
            <input matInput formControlName="color">
        </mat-form-field>
    </div>
    
    <div class="action-buttons">
        <button mat-raised-button mat-dialog-close color="warn" type="button" [disabled]="disabled">{{'app.action-buttons.cancel' | translate }}</button>
        <button mat-raised-button color="primary" (click)="submit()" [disabled]="disabled">{{'app.action-buttons.save' | translate }}</button>
    </div>
</form>