@use '@angular/material' as mat;
@import './references';

// Color Pallete

$pallete-1: (
  50: $color-4,
  100: $color-4,
  200: $color-4,
  300: $color-4,
  400: $color-4,
  500: $color-4,
  600: $color-4,
  700: $color-4,
  800: $color-4,
  900: $color-4,
  A100: $color-4,
  A200: $color-4,
  A400: $color-4,
  A700: $color-4,
  contrast: (
    50 : $color-1,
    100 : $color-1,
    200 : $color-1,
    300 : $color-2,
    400 : $color-2,
    500 : $color-2,
    600 : $color-2,
    700 : $color-2,
    800 : $color-2,
    900 : $color-2,
    A100 : $color-1,
    A200 : $color-1,
    A400 : $color-1,
    A700 : $color-1,
  )
);

$pallete-2: (
  50:   $color-5,
  100:  $color-5,
  200:  $color-5,
  300:  $color-5,
  400:  $color-5,
  500:  $color-5,
  600:  $color-5,
  700:  $color-5,
  800:  $color-5,
  900:  $color-5,
  A100: $color-5,
  A200: $color-5,
  A400: $color-5,
  A700: $color-5,
  contrast: (
    50 :   $color-1,
    100 :  $color-1,
    200 :  $color-1,
    300 :  $color-2,
    400 :  $color-2,
    500 :  $color-2,
    600 :  $color-2,
    700 :  $color-2,
    800 :  $color-2,
    900 :  $color-2,
    A100 : $color-1,
    A200 : $color-1,
    A400 : $color-1,
    A700 : $color-1,
  )
);

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$angular-project-primary: mat.define-palette($pallete-1);
$angular-project-accent: mat.define-palette($pallete-2, A200, A100, A400);

// The warn palette is optional (defaults to red).
$angular-project-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$angular-project-theme: mat.define-light-theme((
  color: (
    primary: $angular-project-primary,
    accent: $angular-project-accent,
    warn: $angular-project-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($angular-project-theme);
