
<div class="add-button-container">
    <button mat-fab aria-label="New" class="add-button">
        <mat-icon>add</mat-icon>
    </button>
</div>

<div class="content-container">
    <div *ngFor="let element of list">
        <mat-card>
            <div class="card-header">
                <mat-card-title class="card-title">
                    <h3>{{element.title}}</h3>
                </mat-card-title>
                <mat-card-title class="buttons">
                    <button mat-mini-fab aria-label="Delete" color="warn" class="action-button">
                        <mat-icon>delete</mat-icon>
                    </button>
                    <button mat-mini-fab aria-label="Edit" class="action-button">
                        <mat-icon>edit</mat-icon>
                    </button>
                </mat-card-title>
            </div>
            <mat-card-content>{{element.content}}</mat-card-content>
        </mat-card>
        <br>
    </div>
</div>