@import '../sass/references';
@import '../sass/placeholders';

.sidenav {
  width: $sidenav-width;

  &-container {
    height: 100%;

    .nav-logo {
      width: 200px;
      height: 140px;
    }

    .header-logo {
      width: 100px;
      height: 50px;
    }
  }

  .mat-toolbar {
    background: inherit;
  }

  .navigation-item {
    transition: background 300ms ease-out;

    &.active {
      background: $color-5;
      color: $color-2;
    }

    &:hover, &:focus {
      background: $color-5 !important;
      color: $color-2;
    }
  }
}

.app-header {
  @extend %df-aic-jcsb;

  .left-side {
    @extend %df-aic-jcfs;
  }
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}
